html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.overall {
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
  height: auto;
}
#header {
  width: 100%;
  height: auto;
}
#intro {
  font-size: 150%;
  margin: 25px 50px 25px 0px;
}
#welcome {
  font-size: 150%;
  text-align: right;
  float: right;
  font-weight: bold;
  margin-bottom: 75px;
}

.central {
  height: auto;
  width: 90%;
  margin: 0 auto;
}
.weblink {
  float: left;
  width: 180px;
  height: 180px;
  display: inline-block;
  line-height: 175px;
}
img {
  height: 135px;
  width: 135px;
  margin: 10px;
}
#footer {
 border-top: 1px solid black;
 float: left;
 text-align: center;
}
#bottom {
  margin: 15px;

}

a {
  text-decoration: none;
  color: #0645AD;
  outline: 0;
  margin: 10px;
}
